{% load static %}
<html>
<head>
 <title>Home</title>
<!-- In your HTML template -->
<link rel="stylesheet" type="text/css" href="{% static 'homecss.css' %}">
 <script src="https://kit.fontawesome.com/1db75a16db.js"
crossorigin="anonymous" ></script>
</head>
<body>
 <!-- Side navigation -->
 <div class="sidenav">
 <img src="{% static 'instalogo.png' %}" alt="not available"
class="img1">
 <p>INSTAGRAM</p>
 <a href="#">My Posts</a>
 <a href="#">Following-127</a>
 <a href="#">Followers-111</a>
 <a href="#">Profile</a>
 <a href="{% url 'logout' %}">Logout</a>
 <a href="{% url 'register' %}">Create A New Account</a>
 </div>
 <!-- Page content -->
 <div class="main">
 <!-- Your main content goes here -->
 </div>
 <div class="w3-sidebar w3-bar-block" style="width: 25%;">
 <a href="#" class="w3-bar-item w3-button">Link 1</a>
 <a href="#" class="w3-bar-item w3-button">Link 2</a>
 <a href="#" class="w3-bar-item w3-button">Link 3</a>
 </div>
 <div style="margin-left: 25%;">
 <i class="fa-brands fa-facebook-messenger fa-xl" style="color:
#ffffff;" id="bookmark"></i>
 <i class="fa-regular fa-heart fa-xl" style="color: #ffffff;"
id="bookmark"><h4>jbh</h4></i>
 <center>
 <h2><u>INSTAGRAM</u></h2><br>
 <hr>
 <div class="div1">
 <img src="{% static 'story1.png' %}" alt="not available"
class="img2">
 <img src="{% static 'story2.png' %}" alt="not available"
class="img2">
 <img src="{% static 'story3.png' %}" alt="not available"
class="img2">
 <img src="{% static 'story4.png' %}" alt="not available"
class="img2">
 <img src="{% static 'story5.png' %}" alt="not available"
class="img2">
 <img src="{% static 'story6.png' %}" alt="not available"
class="img2">
 <img src="{% static 'story7.png' %}" alt="not available"
class="img2">
 </div>
 <hr>
 <br><br>
 <h2>Recent Posts</h2>
 <!--- 1st post -->
 <div class="div2">
 <img align="left" src="{% static 'profile1.png' %}"
alt="not available" class="img2">

 <h3>Hemanth</h3>
 <i class="fa-solid fa-ellipsis-vertical fa-xl"
style="color: #ffffff;" id="bookmark"></i>

 <p>Mountains</p>
<img src="{% static 'post1.png' %}" alt="not
available" class="post">
 <h6>21/July/2023</h6>
<i class="fa-regular fa-heart fa-xl" style="color:
#ffffff;" id="element"><h4>g</h4></i>;
 <i class="fa-regular fa-comment fa-xl" style="color:
#ffffff;" id="element"><h4>ggh</h4></i>
 <i class="fa-solid fa-share fa-xl" style="color:
#ffffff;" id="element"></i><br>
 <i class="fa-regular fa-bookmark fa-xl" style="color:
#ffffff;" id="bookmark"></i><br><br><br><br>

<img align="left" src="{% static 'like1.png' %}"
alt="not available" id="like1">
 <p>Liked By Stephen_king and 87 others.......</p>

 </div><br><br><br><br>
 <!--- 2nd post-->
 <div class="div2">
 <img align="left" src="{% static 'post2.1.png' %}"
alt="not available" class="img2">

 <h3>Crazy_Harsha_52</h3>
<i class="fa-solid fa-ellipsis-vertical fa-xl"
style="color: #ffffff;" id="bookmark"></i>

 <p>Fruits!!!</p>
<img src="{% static 'post2.png' %}" alt="not
available" class="post">
 <h6>21/July/2023</h6>
<i class="fa-regular fa-heart fa-xl" style="color:
#ffffff;" id="element"><h4>g</h4></i>;
 <i class="fa-regular fa-comment fa-xl" style="color:
#ffffff;" id="element"><h4>ggh</h4></i>
 <i class="fa-solid fa-share fa-xl" style="color:
#ffffff;" id="element"></i><br>
 <i class="fa-regular fa-bookmark fa-xl" style="color:
#ffffff;" id="bookmark"></i><br><br><br><br>

<img align="left" src="{% static 'like2.png' %}"
alt="not available" id="like1">
 <p>Liked By Hemanth and 870 others.......</p>

 </div><br><br><br><br>
 <!--- 3rd post -->
 <div class="div2">
 <img align="left" src="{% static 'story5.png' %}"
alt="not available" class="img2">

 <h3>Crazy_Harsha_52</h3>
<i class="fa-solid fa-ellipsis-vertical fa-xl"
style="color: #ffffff;" id="bookmark"></i>

 <p>Morning View</p>
<img src="{% static 'story6.png'%}" alt="not
available" class="post">
 <h6>21/July/2023</h6>
<i class="fa-regular fa-heart fa-xl" style="color:
#ffffff;" id="element"><h4>g</h4></i>;
 <i class="fa-regular fa-comment fa-xl" style="color:
#ffffff;" id="element"><h4>ggh</h4></i>
 <i class="fa-solid fa-share fa-xl" style="color:
#ffffff;" id="element"></i><br>
 <i class="fa-regular fa-bookmark fa-xl" style="color:
#ffffff;" id="bookmark"></i><br><br><br><br>

<img align="left" src="{% static 'story2.png' %}"
alt="not available" id="like1">
 <p>Liked By Decent_Boy and 15 others.......</p>

 </div><br><br><br><br>
 <!---4th post-->
 <div class="div2">
 <img align="left" src="{% static 'story2.png' %}"
alt="not available" class="img2">

 <h3>Crazy_Harsha_52</h3>
<i class="fa-solid fa-ellipsis-vertical fa-xl"
style="color: #ffffff;" id="bookmark"></i>

 <p>Wonder Of The World</p>
 <img src="{% static 'post4.png' %} " alt="not
available" class="post">
 <h6>21/July/2023</h6>
<i class="fa-regular fa-heart fa-xl" style="color:
#ffffff;" id="element"><h4>g</h4></i>;
 <i class="fa-regular fa-comment fa-xl" style="color:
#ffffff;" id="element"><h4>ggh</h4></i>
 <i class="fa-solid fa-share fa-xl" style="color:
#ffffff;" id="element"></i><br>
 <i class="fa-regular fa-bookmark fa-xl" style="color:
#ffffff;" id="bookmark"></i><br><br><br><br>

<img align="left" src="{% static 'story6.png' %} "
alt="not available" id="like1">
 <p>Liked By Innocent_king and 92 others.......</p>

 </div>
 <h1>No More Posts</h1>
 </center>
 </div>
</body>
</html>
